
@model IEnumerable<ClubMates.Models.Student>

@{
    ViewBag.Title = "Index";
}



<div>

    <div><a href="/Student/AddStudent/" /> Click to add student </div>
    <div><a href="/Department/AddDepartment/" /> Click to add Department</div>

</div>-->

